TZ=America/Argentina/Mendoza
VIRTUAL_HOST=moodle.local
VIRTUAL_PORT=80

MOODLE_wwwroot=http://localhost:8011

MOODLE_dbtype=mysqli
MOODLE_dblibrary=native

MOODLE_dbhost=db
MOODLE_dbname=moodle
MOODLE_dbuser=moodle
MOODLE_dbpass=moodlepwd@
MOODLE_prefix=mdl_

MOODLE_dboptions__dbpersist=false
MOODLE_dboptions__dbsocket=false
MOODLE_dboptions__dbport=3306
MOODLE_dboptions__dbhandlesoptions=false
MOODLE_dboptions__dbcollation=utf8mb4_unicode_ci


MOODLE_dataroot=/var/moodledata
MOODLE_directorypermissions=02777
MOODLE_admin=admin
MOODLE_lang=es

#MOODLE_reverseproxy=true
#MOODLE_sslproxy=true

MOODLE_apacheloguser=2
